.search-list-item {
  font-size: 14px;
  max-width: 450px;
  width: 100%;
  padding: 7px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  transition: all 0.5s ease-in-out;
  border-radius: 10px;
}

.search-list-item img {
  height: 50px;
  width: 50px;
}
.search-list-item:hover {
  padding: 8px;
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(221, 221, 221);
}
