.search-box {
  width: 470px;
  height: 40px;
  border: 1px solid #00000033;
  border-radius: 10px;
  outline: none;
  padding: 5px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}
.search-icon-wrapper {
  position: absolute;
  left: 10px;
  top: 10px;
}
.search-list {
  position: relative;
}
.search-list .search-list-layer {
  position: absolute;
  background: transparent;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}
.search-list-items-wrapper {
  background-color: #f7f5f7;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1);
  max-width: 470px;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  /* overflow: scroll; */
  cursor: pointer;
}
