.selected-product-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  /* color: #141414; */
}
.selected-product-wrapper-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected-product-navigation-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  cursor: pointer;
}

.selected-product-item-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 26px;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  vertical-align: bottom;
  color: #141414;
}

.selected-product-wrapper-bottom {
  padding: 25px 0 0;
}
.selected-product-icons {
  transform: scale(1.5);
  color: #141414;
}
.selected-product-navigation-flex-mobile {
  display: none;
}
@media (max-width: 768px) {
  .selected-product-navigation-flex {
    display: none;
  }
  .selected-product-navigation-flex-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    font-size: 25px;
  }
  .selected-product-logo img {
    width: 100px;
    height: 20px;
  }
}
