.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: #00000099;
}
.navbar-wrapper li {
  list-style: none;
  cursor: pointer;
}

.navbar-item-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.navbar-wrapper-mobile {
  display: none;
}
@media (max-width: 768px) {
  .navbar-wrapper {
    display: none;
  }
  .navbar-wrapper-mobile {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
    color: #a2a4a9;
  }
}
