.home-page-main {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.home-page-content-wrapper {
  display: flex;
  gap: 1rem;
}
.home-page-content-wrapper-left-section {
  width: 276px;
  background-color: #f9f9f9;
  border-radius: 16px;
  padding: 10px;
}
.home-page-content-wrapper-right-section {
  flex-grow: 1;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  padding-top: 30px;
}
.card {
  flex: 0 0 32%;
  max-width: 32%;

  width: 276px;
  height: 431px;
  border-radius: 16px;
  border-width: 1px;

  background-color: #f7f5f7;
  overflow: hidden;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.pagination-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

@media (max-width: 768px) {
  .home-page-main {
    width: 100%;
  }
  .navigation-tracker-wrapper {
    display: none;
  }
  .home-page-content-wrapper-left-section {
    display: none;
  }
  .card-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    gap: 10px;
    padding: 30px;
  }

  .card {
    flex: 0 0 49%;
    max-width: 49%;
  }
}

@media (max-width: 480px) {
  .card {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .card-wrapper {
    gap: 15px;
    width: 100%;
  }
}
