header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 20px 10px;
  width: 90%;
  margin: auto;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  width: 90px;
  height: 66px;
}
.header-search-bar-wrapper {
  position: relative;
  left: -120px;
}

@media (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0 20px;
  }
  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .logo img {
    width: 35px;
    height: 35px;
  }

  .header-search-bar-wrapper {
    display: none;
  }
}
