header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 20px 10px;
  width: 90%;
  margin: auto;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo .logo-image {
  width: 90;
  height: 66;
}
.header-search-bar-wrapper {
  position: relative;
  left: -120px;
}
