.product-page-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 10px;
  height: 720px;
}
.product-page-image-section {
  max-width: 45%;
}
.product-page-description-section {
  max-width: 45%;
}
